# Server Configuration
NODE_ENV=development
PORT=8001
API_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/general_exchange_uganda?schema=public"
# production db - postgresql://uganda_user:password@dpg-.../uganda_db
# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production_min_32_chars_uganda
JWT_EXPIRY=7d

# Twilio (SMS OTP)
TWILIO_ACCOUNT_SID=xxxxx
TWILIO_AUTH_TOKEN=bdb6caa67
TWILIO_PHONE_NUMBER=+15074

# Zeptomail (Email)
ZEPTOMAIL_API_TOKEN=wSsVR61x/kPvhDxxxxxxx
FROM_EMAIL=noreply@x.com

# Wallet Encryption
WALLET_ENCRYPTION_KEY=your_32_byte_encryption_key_for_wallet_security

# Admin Credentials
ADMIN_EMAIL=exchange.com
ADMIN_PASSWORD=xx

# Security
BCRYPT_ROUNDS=10
OTP_EXPIRY_MINUTES=10
RATE_LIMIT_TTL=900
RATE_LIMIT_MAX=5

# CoinGecko (price data)
COINGECKO_API_KEY=xxxx9CrxNr


# live-key - xxxxPU1hzB0
# live-secret - xxxx4R3sLEuk61
# Pesapal (fiat deposits)
PESAPAL_CONSUMER_KEY=your_pesapal_consumer_key
PESAPAL_CONSUMER_SECRET=your_pesapal_consumer_secret
PESAPAL_IPN_ID=your_pesapal_ipn_id

# KYC (Auto-Approved for Uganda Exchange)
# SANDBOX_API_BASE_URL=https://api.sandbox.co.in
# SANDBOX_API_VERSION=1.0
# SANDBOX_API_KEY=xxxxxxxdb9590
# SANDBOX_API_SECRET=xxxxxx02362

# CFC Bridge Integration
BRIDGE_SECRET=cfc_exchange_bridge_shared_secret_change_in_production
CFC_API_URL=http://192.168.0.16:4000
